.navbar{
    height: 80px;
    width: 100%;
    padding: 0px 100px;
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
}
.navbar ul{
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}
.navbar ul li{
    text-decoration: none;
}
.navBtns{
    font-size: 20px;
    transition: 0.3s ease;
}

/* Tablet View */
@media (max-width: 768px) {
    .navbar{
        display: none;
    }
}
.resumeDownloadBtn{
    background: transparent;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 100px;
    border: 1px solid white;
}
.resumeDownloadBtn:hover{
    background: linear-gradient(90deg, #f7c164, #ed61ff);
    transform: scale(1.05);
    color: black;
    border: none;
}
